:root {
  --main-color: #4b4a50;
  --second-color: #e1e1e1;
  --third-color: #d33516;
  --black-color: #000000;
  --white-color: #ffffff;
  --background-color: rgba(192, 192, 192, 0.2);
  --placeholder-color: #a1a1a1;
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 9px 32px;
}
@media (max-width: 576px) {
}
@media (max-width: 768px) {
  .counter-grid {
    padding: 60px 30px;
    border-radius: 0;
    background-color: var(--background-color);
  }
  .about-section {
    height: 100%;
    .img-one {
      img {
        height: 400px !important;
        width: 100%;
      }
    }
    .img-two {
      display: none;
    }
  }
  .swiper-button-prev,.swiper-button-next{
    display: none;
  }
  .project-card{
    img{
      height: 400px;
    }
  }
}
@media (max-width: 991px) {
}
@media (max-width: 992px) {
}
@media (max-width: 1200px) {
  .about-section {
    .img-one {
      img {
        height: 600px;
        width: 100%;
      }
    }
    .header-section {
      h3 {
        font-size: 40px;
      }
    }
    .img-two {
      bottom: -25px;
      background-color: transparent;
    }
    p {
      font-size: 16px;
    }
    li {
      font-size: 15px;
      color: #555151;
    }
  }

}

@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
